@import '../node_modules/react-progress-button/react-progress-button';

body {
  background: url("./bg.jpg");
}

.dropzone-container {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-top: 5rem;
}
.dropzone {
  width: 400px;
  height: 400px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}